<div class="animated fadeIn">
    <div class="card card-body mb-1 p-2">
      <div class="row p-3">
        <i class="fa fa-vcard-o fa-2x"></i>
        <span class="h5 pl-1 fw-bold">{{idDriver?'Actualizar Conductor':'Registro de Conductor'}}</span>
      </div>
      <div *ngIf="!idDriver">
        <p for="" class="">
          Para inscribir a un conductor nuevo siga los siguientes pasos:
        </p>
        <ol>
          <li>Registre los datos personales del conductor</li>
          <li>Registre los datos del vehiculo, si se trata de un vehiculo existente seleccionelo</li>
          <li>Genere la tarjeta TIC</li>
        </ol>
        <p><span class="fw-bold">Nota.</span>  Para la generacion de la tarjeta TIC debe llenar todos los campos de manera obligatoria</p>
        <p>Si el conductor ya existiese y desea renovar su tarjeta, debe consultar su existencia en el menu de listado de conductores</p>
      </div>
    </div>
    <mat-horizontal-stepper #stepper linear>
        <mat-step>
          <form ngNativeValidate #fConductor="ngForm">
            <ng-template matStepLabel>Conductor</ng-template>

            <div class="fadeIn animated">
              <div class="row">
                <div class="col-6">
                  <mat-card style="min-height:680px;">
                  <div class="row pl-3 d-flex justify-content-between">
                    <div>
                      <i class="fa fa-user-circle fa-2x"></i>
                      <span class="box-title h4 ml-2">Datos del Conductor</span>
                    </div>
                    <div *ngIf="exist">
                      {{conductor.codigo}}
                    </div>
                  </div>
                      <!--<ngx-qrcode 
                          [elementType]="elementType" 
                          [value] = "value2"
                          cssClass = "aclass"
                          errorCorrectionLevel = "L">
                      </ngx-qrcode>-->

                    <span class="text-muted font-13"> A continuación ingrese información del conductor </span>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">

                          <!--<div class="row">
                               <div class="col-6">
                                <div class="form-group">
                                  <label for="codigo">Número de Registro</label>
                                  <input readonly type="string" class="form-control" [(ngModel)]="conductor.codigo" name="codigo"  id="numreg" > 
                                </div>
                               </div>
                               
                             </div>-->
                                <div class="form-group">
                                    <label for="nombres">Nombres</label>
                                    <span class="text-danger">*</span>
                                    <input required type="text" class="form-control" [(ngModel)]="conductor.nombres" name="nombres"  id="nombres">
                                </div>
                                <div class="form-group">
                                    <label for="apellidos">Apellidos</label>
                                    <span class="text-danger">*</span>
                                    <input required type="text" class="form-control" [(ngModel)]="conductor.apellidos" name="apellidos"  id="apellidos">
                                </div>
                                <div class="row">
                                  <div class="col-6">
                                    <div class="form-group">
                                      <label for="ci">Documento de Identidad</label>
                                      <span class="text-danger">*</span>
                                      <input required type="number" [(ngModel)]="conductor.ci" name ="ci" class="form-control" id="ci" >
                                  </div>
                                  </div>
                                  <div class="col-6">
                                    <div class="form-group">
                                      <label for="expedicion">Lugar de Expedición</label>
                                      <span class="text-danger">*</span>
                                      <select required name="expedicion" id="expedicion" class="form-control" [(ngModel)]="conductor.expedicion">
                                        <option value="" disabled>Elija una opción</option>
                                        <option *ngFor="let item of expediciones" [value]="item.valor">{{item.valor}}</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-6">
                                    <div class="form-group">
                                      <label for="fecha_nac">Fecha de Nacimiento</label>
                                      <span class="text-danger">*</span>
                                      <!--<input required matInput [matDatepicker]="picker" [(ngModel)]="conductor.fecha_nac" id="fecha_nac" name="fecha_nac">
                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>-->

                                      <input required type="date" class="form-control" [value]="conductor.fecha_nac" [(ngModel)]="conductor.fecha_nac" name="fecha_nac"  id="fecha_nac">
                                    </div>
                                  </div>
                                  <div class="col-6">
                                    <div class="form-group">
                                      <label for="tipo_sangre">Tipo de Sangre</label>
                                      <span class="text-danger">*</span>
                                      <select required name="tipo_sangre" id="tipo_sangre" class="form-control" [(ngModel)]="conductor.tipo_sangre">
                                        <option value='' disabled>Elija una opciòn</option>
                                        <option *ngFor="let item of tiposangre" [value]="item.value">{{item.name}}</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              <!--<div class="form-group">
                                <label for="exampleInputPassword1">Nacionalidad</label>
                                <select class="form-control" [value]="conductor.nacionalidad" name="nacionalidad" id="">
                                  <option value="">Argentina</option>
                                  <option value="">Brasil</option>
                                  <option value=""></option>
                                </select>
                              </div>-->
                            <div class="form-group">
                              <label for="direccion">Dirección</label>
                              <span class="text-danger">*</span>
                              <input required type="text" class="form-control" [(ngModel)]="conductor.direccion" name="direccion"  id="direccion">
                            </div>
                            <div class="row">
                              <div class="col-12">
                                <div class="form-group">
                                  <label for="genero">Género</label>
                                  <span class="text-danger">*</span>
                                  <select required name="genero" id="genero" class="form-control" [(ngModel)]="conductor.genero">
                                    <option value="" disabled>Elija una opción</option>
                                    <option *ngFor="let item of generos" [value]="item.valor">{{item.name}}</option>
                                  </select>
                                </div>
                               </div>
                            </div>
                        </div>
                    </div>
                  </mat-card>
                </div>
                <div class="col-6">
                  <mat-card style="min-height:680px;">
                    <p class="text-muted m-b-2 m-t-2 font-13"> Información Adicional </p>
                    <hr>   
          
                    <div class="">
                      <!--<div class="d-flex justify-content-center">
                        <div class="empty-photo">
                        
                        </div>
                      </div>-->
                      <div class="d-flex justify-content-center">
                        <div class="d-flex" style="flex-direction:column;">
                          <!--<img [src]="conductor.fotografia | emptyImg" class="w-200">
                          <img *ngIf="!imageTempUser" [src]="conductor.fotografia | emptyImg" class="w-200">-->
                          <img [src]="conductor.fotografia | emptyImg" class="w-200">
    
                          <input type="file" class="my-2" (change)="onFileChangeUser($event)">
                        </div>
                      </div>

                      <!--<button mat-raised-button color="primary" (click)="updateImage()" [disabled]="!imageLoad"  class="btn px-5 form-control scale"><i class="fa fa-save"></i> Actualizar Imagen</button>-->
                      <div class="mt-2">
                        <div class="form-group">
                          <label for="licencia">Licencia de Conducir</label>
                          <span class="text-danger">*</span>
                          <input required type="text" class="form-control" [(ngModel)]="conductor.licencia" name="licencia"  id="licencia" >
                        </div>
                        <div class="form-group">
                          <label for="sindicato">Sindicato  / Asociación</label>
                          <select class="form-control" name="id_asociacion" id="id_asociacion" [(ngModel)]="conductor.id_asociacion">
                            <option value='' disabled>Elija una opciòn</option>
                            <option *ngFor="let item of sindicatos" [value]="item.id">{{item.nombre}}</option>
                          </select>
                        </div>
                        <div class="row">
                              <div class="col-6">
                               <div class="form-group">
                                  <label for="finscripcion">Fecha de Inscripción</label>
                                  <input readonly type="text" [value]="hoy" class="form-control" name="finscripcion"  id="finscripcion" >
                              </div>
                              </div>
                              <div class="col-6">
                                <div class="form-group">
                                  <label for="cat_licencia">Categoria</label>
                                  <span class="text-danger">*</span>
                                  <select required name="cat_licencia" id="cat_licencia" class="form-control" [(ngModel)]="conductor.cat_licencia">
                                    <option value="" disabled>Elija una opciòn</option>
                                    <option *ngFor="let item of categorias" [value]="item">{{item}}</option>
                                  </select>
                                </div>
                              </div>
                        </div>
                      </div>
                    </div>   
                  </mat-card>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-end mt-3">
              <button mat-raised-button (click)="next1(fConductor)" [disabled]="fConductor.invalid" color="primary"> Siguiente <i class="fa fa-forward"></i></button>
            </div>

          </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Vehiculo</ng-template>

    <div class="animated fadeIn">
      <form ngNativeValidate #fVehiculo="ngForm">
     <div class="row">
      
        <div class="col-6">
          <mat-card style="min-height:680px;">
            <div class="row pl-3">
            <i class="fa fa-motorcycle fa-2x"></i>
            <span class="box-title m-b-0 h4 pl-2">Datos del Vehículo</span>
            </div>
            <span class="text-muted font-13"> A continuación ingrese información del vehiculo </span>
            <hr>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label for="placa">Número de Placa</label>
                            <span class="text-danger">*</span>
                            <input required type="text" class="form-control" [(ngModel)]="vehiculo.placa" name="placa" id="placa" >
                          </div>
                        </div>
                      </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Póliza</label>
                                <span class="text-danger">*</span>
                                <input required type="text" [(ngModel)]="vehiculo.poliza" name="poliza" class="form-control" id="exampleInputEmail1" >
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                              <label for="procedencia">Procedencia</label>
                              <select name="procedencia" id="procedencia" class="form-control" [(ngModel)]="vehiculo.procedencia">
                                <option value="" disabled>Elija una opción</option>
                                <option *ngFor="let item of pais" [value]="item">{{item}}</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                              <div class="form-group">
                                <label for="exampleInputEmail1">Chasis</label>
                                <span class="text-danger">*</span>
                                <input required type="text" class="form-control" [(ngModel)]="vehiculo.chasis" name="chasis"  id="" >
                            </div>
                            </div>
                            <div class="col-6">
                              <div class="form-group">
                                <label for="color">Color</label>
                                <span class="text-danger">*</span>
                                <select required name="color" id="color" class="form-control" [(ngModel)]="vehiculo.color">
                                  <option value="" disabled>Elija una opción</option>
                                  <option *ngFor="let item of colores" [value]="item">{{item}}</option>
                                </select>
                              </div>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <label for="exampleInputPassword1">Asociación Anterior</label>
                            <select name="" id="" class="form-control">
                                <option value="">Sindicato Eduardo Avaroa</option>
                                <option value="">Sindicato Pedro Domingo Murillo</option>
                                <option value="">Sindicato 24 de Septiembre</option>
                                <option value="">Sindicato 06 de Octubre</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Asociación Actual</label>
                            <select name="" id="" class="form-control">
                                <option value="">Sindicato Eduardo Avaroa</option>
                                <option value="">Sindicato Pedro Domingo Murillo</option>
                                <option value="">Sindicato 24 de Septiembre</option>
                                <option value="">Sindicato 06 de Octubre</option>
                            </select>
                        </div>-->
                        <div class="row">
                          <div class="col-6">
                            <div class="form-group">
                              <label for="tipo">Tipo de Servicio</label>
                              <span class="text-danger">*</span>
                              <select required name="tipo" id="tipo" class="form-control" [(ngModel)]="vehiculo.tipo">
                                <option value="" disabled>Elija una opciòn</option>
                                <option *ngFor="let item of tservicios" [value]="item">{{item}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="form-group">
                                <label for="cilindrada">Cilindrada</label>
                                <input type="number" [(ngModel)]="vehiculo.cilindrada" name="cilindrada" class="form-control" id="cilindrada" >
                            </div>
                          </div>
                        </div>

                     <!--<div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
                        <button type="submit" class="btn btn-inverse waves-effect waves-light">Limpiar</button>
                     </div>-->
                    
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-6">
          <mat-card style="min-height:680px;">
            <p class="text-muted m-b-2 m-t-2 font-13"> Información Adicional </p>
              <hr>
              <div class="row d-flex justify-content-center">
                <!--<img *ngIf="!imageTempVehicle" [src]="vehiculo.img | emptyImg" class="w-200">
                <img *ngIf="imageTempVehicle" [src]="imageTempVehicle" class="w-200">-->
                <div class="d-flex" style="flex-direction:column;">
                <img [src]="vehiculo.img" class="w-200">
                <input type="file" class="my-2" (change)="onFileChangeVehicle($event)">
                </div>
              </div>
              <div class="row mt-1">
                <div class="col-6">
                  <div class="form-group">
                    <label for="marca">Marca</label>
                    <span class="text-danger">*</span>
                    <input required type="text" class="form-control" [(ngModel)]="vehiculo.marca" name="marca" id="marca" >
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="modelo">Modelo</label>
                    <span class="text-danger">*</span>
                    <input required type="text" class="form-control" [(ngModel)]="vehiculo.modelo" name="modelo" id="modelo">
                  </div>
                </div>
            </div> 
            <div class="row mt-1">
              <div class="col-12">
                <label for="modelo">Propietario</label>
                    <span class="text-danger">*</span>
                    <input required type="text" class="form-control" [(ngModel)]="vehiculo.propietario" name="propietario" id="propietario">
              </div>
            </div>
          </mat-card>
        </div>  
      </div>
    </form>
    </div>
            <div class="d-flex justify-content-between mt-3">
              <button mat-raised-button color="primary" matStepperPrevious><i class="fa fa-backward"></i> Anterior</button>
              <button mat-raised-button color="primary" [disabled]="fVehiculo.invalid" (click)="next2(fVehiculo)">Siguiente <i class="fa fa-forward"></i></button>
            </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Tarjeta TICE</ng-template>

          <div class="mat-elevation-z8 p-4">
            <div class="d-flex justify-content-center">
              <button mat-raised-button color="accent" (click)="genera(fConductor, fVehiculo)">
                <i class="fa fa-vcard-o"></i> 
                <span class="ml-1">Generar Tarjeta</span>
               
              </button>
            </div>
            
              <div *ngIf="card" class="bg-white mx-5">
                <form ngNativeValidate id="formulario">
                <mat-card>
                  <div class="card">
                    <div class="card-header " >
                      <div class="d-flex justify-content-between">
                        <img src="../../../assets/images/logo-policia.jpg" alt="" class="w-150 h-150">
                        <div class="d-flex align-items-center">
                          <div>
                            <p class="text-center">CÓDIGO VEHÍCULO</p>
                            <p *ngIf="idVehiculo" class="text-center">{{'VMT-'+idVehiculo}}</p>
                            <p *ngIf="!idVehiculo" class="text-center">{{'No generado'}}</p>
                          </div>
                        </div>
                        <!--<ngx-qrcode 
                          [elementType]="elementType" 
                          [value] = "value"
                          cssClass = "aclass"
                          errorCorrectionLevel = "L">
                      </ngx-qrcode>-->
                      <div class="w-150">
                        <img src="../../../assets/images/QR TICE.png" alt="" class="w-150">
                      </div>
                      <div class="d-flex align-items-center">
                        <div>
                          <p class="text-center">PLACA</p>
                          <p class="text-center">{{vehiculo.placa}}</p>
                        </div>
                      </div>
                         <img src="../../../assets/images/bolivia.jpg" alt="" class="w-200 h-150">
                        
                      </div>
                    <div class="mt-3">
                      <p class="title-card text-center">TARJETA DE IDENTIFICACIÓN DEL CONDUCTOR - MOTOTAXI</p>
                      <!--<p class="fs-20 text-center">Dirección Nacional de Transito</p>-->
                    </div>
                  </div>
                   <hr>
                   <div class="card-body">
                     <div class="row">
                       <div class="col-3">
                          <div class="d-flex justify-content-center card-photo">
                            <p class="text-center fs-17">
                              <span class="fw-bold">Cod. Cond.:</span>
                              <span class="ml-1" *ngIf="idConductor">{{'CMT-'+idConductor}}</span>
                              <span class="ml-1" *ngIf="!idConductor">{{'No generado'}}</span>
                            </p>
                            <div class="d-flex justify-content-center">
                              <!--<img [src]="driver.fotografia" alt="" class="w-200">-->
                              <img [src]="driver.fotografia" class="w-200">
                            </div>
                            <p class="text-center fs-17">
                              <span class="fw-bold">C.I.:</span>
                              <span class="ml-1">{{driver.ci}}</span>
                            </p>
                         </div>
                       </div>
                       <div class="col-7">
                          <div id="datos-tarjeta" class="p-3">
                            <p > 
                              <span class="fw-bold">Nombres: </span> 
                              <span>{{driver.nombres}} </span>
                            </p>
                            <p > 
                              <span class="fw-bold">Apellidos: </span> 
                              <span>{{driver.apellidos}} </span>
                            </p>
                            <p > 
                              <span class="fw-bold">Tipo de Sangre: </span> 
                              <span>{{driver.tipo_sangre | uppercase}} </span>
                            </p>
                            <p > 
                              <span class="fw-bold"> Licencia: </span> 
                              <span>{{driver.licencia}} </span>
                              <span class="fw-bold ml-4">Categoria: </span> 
                              <span>{{driver.cat_licencia | uppercase}} </span>
                            </p>
                            <p>
                              <span class="fw-bold">Tipo de Servicio: </span> 
                              <span>{{vehicle.tipo}}</span>
                            </p>
                            <br>
                          </div>
                          <p class="fw-bold fs-20 text-center">VALIDO DEL {{hoy}} AL {{ffin}}</p>
                       </div>
                       <div class="col-2 gestion">
                         <div class="vertical">
                          {{today.getFullYear()}}
                         </div>
                       </div>
                    </div>
                   </div>
                  </div>
                 </mat-card>
                </form>

                 <div class="d-flex justify-content-center mt-3">
                   <!--<div>
                      <button  mat-raised-button color="warn" (click)="tamQR()">
                        <i class="fa fa-arrows"></i>
                          Ajustar
                      </button>
                   </div>-->                   
                   <div>
                    <button mat-raised-button color="warn" class="mx-1" (click)="registrar()" ><i class="fa fa-save"></i> {{idConductor?'Actualizar':'Registrar'}} </button>
                    <button mat-raised-button class="mx-1" (click)="imprimir()" color="warn" [disabled]="!registrado" ><i class="fa fa-print"></i> Imprimir</button>
                    <button mat-raised-button class="mx-1" color="warn" [routerLink]="['/dashboard/consultar']"><i class="fa fa-users"></i> Lista de Conductores</button>
                   </div>
                </div>
              </div>
          </div>

          <div class="d-flex justify-content-start mt-4">
            <button mat-raised-button (click)="anteriorTice()" color="primary"><i class="fa fa-backward"></i> Anterior </button>

            <!--<button mat-button color="primary" (click)="stepper.reset()">Reset</button>-->
          </div>
        </mat-step>
      </mat-horizontal-stepper>
      
</div>