<div class="row">
    <div class="col-12">
        <app-bar-chart2 
             [data]="data1"
             [labels]="months"
             [valor]="year"
             title="Tarjetas Generadas por mes">
        </app-bar-chart2>   
    </div>
</div>

<!--<div class="row">
    <div class="col-6">
        <app-dona title="Antecedentes registrados por mes"></app-dona>
    </div>

    <div class="col-6">
        <app-dona title="Antecedentes registrados por naturaleza"></app-dona>
    </div>
</div>-->

<div class="row">
    
    <div class="col-6">
        <app-dona 
            [data]="data2"
            [labels]="labels2"
            title="Vehículos por Tipo de Servicio">
        </app-dona>
    </div>
    <!-- <div class="col-6">
       
        <app-dona [labels]="labels1"
                  [data]="data1"
                  title="Cantidad de Conductores por Asociación">
        </app-dona>
    </div> -->

    <div class="col-6">
        <app-dona 
            [data]="data3"
            [labels]="labels3"
            title="Conductores por Género">
        </app-dona>
    </div>

     <!-- <div class="col-6">
        <app-bar-chart2 
        title="Cantidad de Conductores ..."
        [data]="data4"
        [labels]="labels4"
        valor="TIC - SC"
        ></app-bar-chart2>
    </div> -->
</div>