<div class="fadeIn animated">
  <div class="row">
    <div class="col-6">
      <div class="card card-body border">
      <div class="row pl-3">
        <i class="fa fa-user-circle fa-2x"></i>
        <span class="box-title m-b-0 h5 ml-2">Datos Conductor</span>
      </div>
        <span class="text-muted font-13"> A continuación ingrese información del conductor </span>
        <hr>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <form ngValidate>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Documento de Identidad</label>
                          <input type="number" [(ngModel)]="conductor.ci" name ="ci" class="form-control" id="exampleInputEmail1" placeholder="Documento de identidad">
                      </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1" >Lugar</label>
                          <input type="text" [(ngModel)]="conductor.lugar" name ="lugar" class="form-control" id="exampleInputEmail1" placeholder="Lugar">
                      </div>
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Nombres</label>
                        <input type="text" class="form-control" [(ngModel)]="conductor.nombre" name ="nombre"  id="exampleInputPassword1" placeholder="Nombres">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Apellidos</label>
                        <input type="text" class="form-control" [(ngModel)]="conductor.apellidos" name ="apellidos"  id="exampleInputPassword1" placeholder="Apeliidos">
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Fecha de Nacimiento</label>
                          <input type="date" class="form-control" [(ngModel)]="conductor.fnac" name ="fnac"  id="exampleInputEmail1" >
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Tipo de Sangre</label>
                          <select name="sangre" id="" class="form-control" ([value])="conductor.tsangre">
                            <option value="a+">A+</option>
                            <option value="o+">O+</option>
                            <option value="b+">B+</option>
                            <option value="ab+">AB+</option>
                            <option value="a-">A-</option>
                            <option value="o-">O-</option>
                            <option value="b-">B-</option>
                            <option value="ab-">AB-</option>
                          </select>
                        </div>
                      </div>
                    </div>
                <div class="row">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Nacionalidad</label>
                    <select class="form-control" [value]="conductor.nacionalidad" name="nacionalidad" id="nacionalidad">
                      <option value="">Argentina</option>
                      <option value="">Brasil</option>
                      <option value="">Bolivia</option>
                    </select>
                  </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Dirección</label>
                  <input type="text" class="form-control" [(ngModel)]="conductor.direccion" name ="direccion"  id="exampleInputPassword1" placeholder="Dirección">
                </div>
                </div>
                 <div class="d-flex justify-content-end">
                    <!--<button type="submit" class="form-control" mat-raised-button color="primary"><i class="fa fa-save"></i> Guardar</button>
                    <button type="submit" class="btn btn-inverse waves-effect waves-light">Limpiar</button>-->
                 </div>
                </form>
            </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card card-body border">
        <div class="box-title m-b-0 h5">Imagen</div>
        <p class="text-muted m-b-0 font-13"> Imagen de Conductor </p>
        <hr>
        <div class="row d-flex justify-content-center">
          <img *ngIf="!imageTemp" [src]="conductor.img" class="w-200">
          <img *ngIf="imageTemp" [src]="imageTemp" class="w-200">

          <input type="file" class="my-2" (change)="onFileChange($event)">
          <!--<button mat-raised-button color="primary" (click)="updateImage()" [disabled]="!imageLoad"  class="btn px-5 form-control scale"><i class="fa fa-save"></i> Actualizar Imagen</button>-->
          <div class="mt-2">
            <div class="form-group">
              <label for="exampleInputPassword1">Lugar de trabajo</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Lugar de trabajo">
            </div>
            <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Fecha de Inscripción</label>
                      <input type="date" class="form-control" id="exampleInputEmail1" >
                  </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Categoria</label>
                      <select name="" id="" class="form-control">
                        <option value="a">A</option>
                        <option value="b">B</option>
                        <option value="c">C</option>
                        <option value="m">M</option>
                        <option value="p">P</option>
                        <option value="t">T</option>
                      </select>
                    </div>
                  </div>
            </div>
          </div>
        </div>   
      </div>
    </div>
  </div>
</div>