hr{
    margin:7px 0;
    background-color: #ececec;
  }

  form{
    width:100%;
  }

  mat-card{
    margin:1rem;
  }

  .img-soat{
    width:100px;
  }
  .custom-color-chip{
    padding:3px 5px;
    background-color: rgb(144, 253, 168);
    color:white
  }

  .w-150{
    width:150px;
  }