<mat-card class="p-4" id="htmlData">
    <mat-card-header>
      <mat-card-title>Antecedentes del Conductor</mat-card-title>
      <mat-card-subtitle class="text-muted">Dirección Departamental de Tránsito Santa Cruz</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row px-2">
        <div class="col-12 col-md-6 col-lg-6">
          <mat-form-field appearance="standard">
            <mat-label>Búsqueda</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese una palabra clave para la búsqueda" #input>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6 col-lg-6 text-right">
          <button mat-raised-button color="primary" (click)="agregar()">
            <mat-icon>create_new_folder</mat-icon>
            <span class="ml-1">NUEVO</span>
          </button>
        </div>
      </div>
      
      <div class="mat-elevation-z8" >
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
              <td mat-cell *matCellDef="let row; let i = index"> {{i+1}} </td>
            </ng-container>
        
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA </th>
              <td mat-cell *matCellDef="let row"> {{row.fecha | date_custom}} </td>
            </ng-container>

            <ng-container matColumnDef="caso">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CASO </th>
              <td mat-cell *matCellDef="let row"> {{row.caso}} </td>
            </ng-container>
        
            <ng-container matColumnDef="disposicion">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> DISPOSICIÓN</th>
              <td mat-cell *matCellDef="let row"> {{row.disposicion}} </td>
            </ng-container>
        
            <ng-container matColumnDef="naturaleza">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> NATURALEZA </th>
              <td mat-cell *matCellDef="let row"> {{row.naturaleza}} </td>
            </ng-container>

            <ng-container matColumnDef="creado_por">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CREADO POR </th>
              <td mat-cell *matCellDef="let row"> {{row.created_by.nombres}} {{row.created_by.apellidos}}</td>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ACCIONES </th>
              <td mat-cell *matCellDef="let row"> 
                <button mat-mini-fab [matMenuTriggerFor]="menu" color="secondary" aria-label="Acciones">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="update(row)">
                      <mat-icon>edit</mat-icon>
                      <span>Editar</span>
                    </button>
                    <button mat-menu-item (click)="delete(row.id)">
                      <mat-icon>delete</mat-icon>
                      <span>Eliminar</span>
                    </button>
                  </mat-menu>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No se encontraron registros</td>
            </tr>

      </table>
      
        <mat-paginator
        fxFlex="100"
        #paginatorRef
        [length]="10"
        [pageSize]="10"
        [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    
    </mat-card-content>
  
  </mat-card>