<div class="fadeIn animated">
    <div class="row">
      <div class="col-6">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="row pl-3">
              <i class="ti-shield"></i>
              <span class="box-title m-b-0 h5 ml-2">Actualización de Contraseña</span>
            </mat-card-title>
            <mat-card-subtitle class="text-muted font-13 mt-1 pl-3"> A continuación ingrese la información solicitada </mat-card-subtitle>
          </mat-card-header>
          <hr>
          <mat-card-content>
              <div class="col-sm-12 col-xs-12">
                  <form ngNativeValidate #f="ngForm" (ngSubmit)="change(f.value)">
                      <div class="form-group">
                          <label for="exampleInputPassword1">Contraseña Actual</label>
                          <input id="old" type="password" [(ngModel)]="password.old" name="old" class="form-control" required>
                      </div>
                      <div class="form-group">
                          <label for="exampleInputPassword1">Nueva Contraseña</label>
                          <input type="password" id="new" [(ngModel)]="password.new" name="new" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Confirmar Contraseña</label>
                        <input type="password" id="confirm" class="form-control" [(ngModel)]="password.confirm" name="confirm" required>
                    </div>
                   <div class="d-flex justify-content-end">
                      <button [disabled]="f.invalid" type="submit" mat-raised-button color="primary" class="btn btn-success waves-effect waves-light m-r-10 form-control">
                        <i class="fa fa-save"></i>
                         <span class="ml-2">ACTUALIZAR</span></button>
                   </div>
                  </form>
              </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>