
<div class="p-2 gral">
    <div class="row header d-flex justify-content-between">
        <div class="col-md-2">
            <img src="../../../assets/images/bolivia.jpg" class="w-70">
        </div>
        <div class="col-md-8 text-center">
            <span class="h4">Dirección Departamental de Tránsito, Transporte y Seguridad Vial Santa Cruz</span>
        </div>
        <div class="col-md-2"><img src="../../../assets/images/logo-pol.png" class="w-70"></div>
    </div>
    <hr>
    <div class="body">
        <div class="conductor p-1 border">
            <div class="bg-info text-white p-2">
                <i class="fa fa-user fa-2x"></i>
                <span class="h5 ml-2">Datos del Conductor</span>
            </div>
            <div class="row p-2">
                <div class="col-md-6">
                        <div>
                            <img [src]="conductor.fotografia" class="w-200">
                            <!--{{conductor.fotografia}}-->
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="fw-500">Código:</p>
                                </div>
                                <div class="col-md-6">
                                    <p>{{'CMT-'+conductor.id}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="fw-500">Cedula de Identidad:</p>
                                </div>
                                <div class="col-md-6">
                                    <p>{{conductor.ci}} {{conductor.expedicion}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="fw-500">Nombre Completo:</p>
                                </div>
                                <div class="col-md-6">
                                    <p>{{conductor.apellidos}} {{conductor.nombres}}</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-500">Fecha de Nacimiento:</p>
                        </div>
                        <div class="col-md-6">
                            <p>{{conductor.fecha_nac}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-500">Género:</p>
                        </div>
                        <div class="col-md-6">
                            <p>{{conductor.genero==1?'Masculino':'Femenino'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-500">Dirección:</p>
                        </div>
                        <div class="col-md-6">
                            <p>{{conductor.direccion}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-500">Categoria:</p>
                        </div>
                        <div class="col-md-6">
                            <p>{{conductor.cat_licencia}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-500">Licencia:</p>
                        </div>
                        <div class="col-md-6">
                            <p>{{conductor.licencia}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-500">Tipo de Sangre:</p>
                        </div>
                        <div class="col-md-6">
                            <p>{{conductor.tipo_sangre}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-500">Asociación:</p>
                        </div>
                        <div class="col-md-6">
                            <p>{{conductor.id_asociacion | asociacion}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="vehiculo p-1 border">
            <div class="p-2 bg-info text-white">
                <i class="fa fa-car fa-2x"></i>
                <span class="h5 ml-2">Datos del Vehículo</span>
            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    <div>
                        <img [src]="vehiculo.img" class="w-200">
                        <!--{{conductor.fotografia}}-->
                    </div>
                    <div class="mt-2">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="fw-500">Placa:</p>
                            </div>
                            <div class="col-md-6">
                                <p>{{vehiculo.placa}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="fw-500">Marca:</p>
                            </div>
                            <div class="col-md-6">
                                <p>{{vehiculo.marca}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="fw-500">Modelo:</p>
                            </div>
                            <div class="col-md-6">
                                <p>{{vehiculo.modelo}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-500">Codigo:</p>
                        </div>
                        <div class="col-md-6">
                            <p>{{'VMT-'+vehiculo.codigo}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-500">Cilindrada:</p>
                        </div>
                        <div class="col-md-6">
                            <p>{{vehiculo.cilindrada}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-500">Póliza:</p>
                        </div>
                        <div class="col-md-6">
                            <p>{{vehiculo.poliza}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-500">Procedencia:</p>
                        </div>
                        <div class="col-md-6">
                            <p>{{vehiculo.procedencia}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-500">Color:</p>
                        </div>
                        <div class="col-md-6">
                            <p>{{vehiculo.color}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-500">Chasis:</p>
                        </div>
                        <div class="col-md-6">
                            <p>{{vehiculo.chasis}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="fw-500">Tipo:</p>
                        </div>
                        <div class="col-md-6">
                            <p>{{vehiculo.tipo}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="botones d-flex justify-content-between mt-2">
            <div>
                <button (click)="dialogRef.close()" mat-raised-button color="secondary">&#215; Cerrar </button>
            </div>
            <div>
                <button (click)="openPrint()" type="button" mat-raised-button color="primary" class="mx-1" >
                    <i class="fa fa-print"></i>
                   <span class="ml-1">Imprimir Tarjeta</span>
                </button>
                <button (click)="editarRenovar()" mat-raised-button color="primary" class="mx-1">
                    <i class="fa fa-edit"></i>
                    <span class="ml-1">Editar e Imprimir Tarjeta</span>
                </button>
            </div>
        </div>
    </div>
</div>
