hr {
    height: 2px;
    background-color: #fafafa;
    margin:5px auto;
  }

  .fw-500{
      font-weight: 500;
  }

  #formulario{
      display: none;
  }

  .gral{
    max-height:750px;
    overflow-y: auto;
  }
