<div class="card principal">
    <a [routerLink]="['inscribir/0']">
        <mat-card class="example-card bg-success">
            <div class="row">
                <div class="col-4 p-2 icono-card">
                    <i class="fa fa-user fa-5x text-white"></i>
                </div>
                <div class="col-8 p-2 content-card">
                    <mat-card-title class="text-white">Nuevo Conductor</mat-card-title>
                    <mat-card-subtitle class="text-white">Permite registrar la información de conductores, sus vehiculos, ademas de generar la tarjeta TICE para la presente gestión.</mat-card-subtitle>
                </div>
            </div>
        </mat-card>    
    </a>

    <a [routerLink]="['consultar']">
        <mat-card class="example-card bg-info">
            <div class="row">
                <div class="col-4 p-2 icono-card">
                    <i class="fa fa-users fa-5x text-white"></i>
                </div>
                <div class="col-8 p-2 content-card">
                    <mat-card-title class="text-white">Lista de Conductores</mat-card-title>
                    <mat-card-subtitle class="text-white">Permite realizar busquedas, modificar y eliminar conductores, ademas de descargar e imprimir el reporte de los mismos.</mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </a>

    <a [routerLink]="['consultar']">
        <mat-card class="example-card bg-warning">
            <div class="row">
                <div class="col-4 p-2 icono-card">
                    <i class="fa fa-search fa-5x text-white"></i>
                </div>
                <div class="col-8  p-2">
                    <mat-card-title class="text-white">Busqueda</mat-card-title>
                    <mat-card-subtitle class="text-white">Permite buscar información de conductores por nombre, cédula, sindicato, placa y tipo de movilidad.</mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </a>

    <a [routerLink]="['asociacion/0']">
        <mat-card class="example-card bg-dark">
            <div class="row">
                <div class="col-4 p-2 icono-card">
                    <i class="fa fa-car fa-5x text-white"></i>
                </div>
                <div class="col-8 p-2 content-card">
                    <mat-card-title class="text-white">Nueva Asociación</mat-card-title>
                    <mat-card-subtitle class="text-white">Permite registrar la información de asociaciones, su representante, dirección, ciudad e imagen</mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </a>

    <a [routerLink]="['inscribir/0']">
        <mat-card class="example-card bg-success">
            <div class="row">
                <div class="col-4 p-2 icono-card">
                    <i class="fa fa fa-address-card-o fa-5x text-white"></i>
                </div>
                <div class="col-8  p-2">
                    <mat-card-title class="text-white">Tarjeta TICE</mat-card-title>
                    <mat-card-subtitle class="text-white">La generación de la tarjeta TICE es la funcion principal del sistema, lleva consigo información del conductor, del vehiculo y su validez.</mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </a>

    <a [routerLink]="['sindicatos']">
        <mat-card class="example-card bg-info">
            <div class="row">
                <div class="col-4 p-2 icono-card">
                    <i class="fa fa-list-ol fa-5x text-white"></i>
                </div>
                <div class="col-8 p-2 content-card">
                    <mat-card-title class="text-white">Lista de Asociaciones</mat-card-title>
                    <mat-card-subtitle class="text-white">Permite realizar busquedas, modificar y eliminar asociaciones, ademas de descargar e imprimir el reporte de los mismos.</mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </a>

    <a [routerLink]="['estadisticas']">
        <mat-card class="example-card bg-dark">
            <div class="row">
                <div class="col-4 p-2 icono-card">
                    <i class="fa fa-bar-chart-o fa-5x text-white"></i>
                </div>
                <div class="col-8  p-2">
                    <mat-card-title class="text-white">Reportes Estadísticos</mat-card-title>
                    <mat-card-subtitle class="text-white">Muestra reportes gráficos referidos a cantidades de tarjetas generadas por mes, por gestion, cantidad de conductores por asociaci6n, entre otros.</mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </a>
</div>