<mat-card class="mx-5">
    <mat-card-content>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <a [routerLink]="['driver/0']">
                <mat-card class="example-card bg-success">
                    <div class="row">
                        <div class="col-4 p-2 icono-card">
                            <img class="img-flat" src="../../../assets/images/flaticon/sitio-web.png" alt="">
                        </div>
                        <div class="col-8 p-2 content-card">
                            <mat-card-title class="text-white">FILIACIÓN</mat-card-title>
                            <mat-card-subtitle class="text-white">Registre y gestione conductores, su vehiculo y tarjeta TIC</mat-card-subtitle>
                        </div>
                    </div>
                </mat-card>    
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <a [routerLink]="['unions']">
                <mat-card class="example-card bg-warning">
                    <div class="row">
                        <div class="col-4 p-2 icono-card">
                            <img class="img-flat" src="../../../assets/images/flaticon/conexion.png" alt="">
                        </div>
                        <div class="col-8 p-2 content-card">
                            <mat-card-title class="text-white">SINDICATOS</mat-card-title>
                            <mat-card-subtitle class="text-white">Gestione sindicatos y asociaciones para la filiación de conductores</mat-card-subtitle>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <a [routerLink]="['vehicles']">
                <mat-card class="example-card bg-danger">
                    <div class="row">
                        <div class="col-4 p-2 icono-card">
                            <img class="img-flat" src="../../../assets/images/flaticon/motocicleta.png" alt="">
                        </div>
                        <div class="col-8  p-2">
                            <mat-card-title class="text-white">VEHICULOS</mat-card-title>
                            <mat-card-subtitle class="text-white">Encuentre de manera sencilla la informacion de su vehículo, SOAT, ITV, entre otros</mat-card-subtitle>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <a [routerLink]="['drivers']">
                <mat-card class="example-card bg-danger">
                    <div class="row">
                        <div class="col-4 p-2 icono-card">
                            <img class="img-flat" src="../../../assets/images/flaticon/conductor.png" alt="">
                        </div>
                        <div class="col-8 p-2 content-card">
                            <mat-card-title class="text-white">CONDUCTORES</mat-card-title>
                            <mat-card-subtitle class="text-white">Gestione la información de los conductores, su vehiculo, sus antecedentes y tarjeta TIC</mat-card-subtitle>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <a [routerLink]="['statistics']">
                <mat-card class="example-card bg-success">
                    <div class="row">
                        <div class="col-4 p-2 icono-card">
                            <img class="img-flat" src="../../../assets/images/flaticon/beneficios.png" alt="">
                        </div>
                        <div class="col-8  p-2">
                            <mat-card-title class="text-white">ESTADÍSTICAS</mat-card-title>
                            <mat-card-subtitle class="text-white">Visualice los reportes gráficos generados por el sistema</mat-card-subtitle>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <a [routerLink]="['roles']">
                <mat-card class="example-card bg-warning">
                    <div class="row">
                        <div class="col-4 p-2 icono-card">
                            <img class="img-flat" src="../../../assets/images/flaticon/informacion-personal.png" alt="">
                        </div>
                        <div class="col-8  p-2">
                            <mat-card-title class="text-white">ROLES Y PERMISOS</mat-card-title>
                            <mat-card-subtitle class="text-white">Administre los roles y permisos de los usuarios del sistema</mat-card-subtitle>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <a [routerLink]="['profile']">
                <mat-card class="example-card bg-warning">
                    <div class="row">
                        <div class="col-4 p-2 icono-card">
                            <img class="img-flat" src="../../../assets/images/flaticon/cv.png" alt="">
                        </div>
                        <div class="col-8 p-2 content-card">
                            <mat-card-title class="text-white">MI INFORMACIÓN</mat-card-title>
                            <mat-card-subtitle class="text-white">Gestione su informacion personal</mat-card-subtitle>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <a [routerLink]="['account-settings']">
                <mat-card class="example-card bg-danger">
                    <div class="row">
                        <div class="col-4 p-2 icono-card">
                            <img class="img-flat" src="../../../assets/images/flaticon/tema.png" alt="">
                        </div>
                        <div class="col-8  p-2">
                            <mat-card-title class="text-white">TEMAS</mat-card-title>
                            <mat-card-subtitle class="text-white">Personalice el tema de su elección</mat-card-subtitle>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>   
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <a [routerLink]="['password']">
                <mat-card class="example-card bg-success">
                    <div class="row">
                        <div class="col-4 p-2 icono-card">
                            <img class="img-flat" src="../../../assets/images/flaticon/intimidad.png" alt="">
                        </div>
                        <div class="col-8  p-2">
                            <mat-card-title class="text-white">CONTRASEÑA</mat-card-title>
                            <mat-card-subtitle class="text-white">Actualice su contraseña de manera periódica</mat-card-subtitle>
                        </div>
                    </div>
                </mat-card>
            </a>
        </div>
    </div>
    </mat-card-content>
</mat-card>