<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="./assets/images/users/poli-admin.jpg" alt="user" /><span class="hide-menu">Administrador </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/dashboard/profile']" routerLinkActive="router-link-active" >Mi Perfil </a></li>
                        <li><a [routerLink]="['/dashboard/account-settings']">Temas</a></li>
                        <li><a [routerLink]="['/dashboard/change-password']" routerLinkActive="router-link-active">Configuración</a></li>
                        <li><a class="cursor" (click)="logout()">Salir</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <!--<li class="nav-small-cap">PERSONAL</li>-->

                <li *ngFor="let item of menuItems"> 
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i [class]="item.icono"></i>
                        <span class="hide-menu"> 
                            {{ item.titulo }} 
                            <span class="label label-rouded label-themecolor pull-right">
                                {{ item.submenu.length }}
                            </span>
                        </span>
                    </a>

                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let subMenuItem of item.submenu">
                            <a [routerLink]="subMenuItem.url"
                               routerLinkActive="active"
                               [routerLinkActiveOptions]="{ exact: true }"> {{ subMenuItem.titulo }} </a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a class="waves-dark" [routerLink]="['/dashboard/estadisticas']" routerLinkActive="router-link-active"> <i class="ti-stats-up"></i><span class="hide-menu">Estadísticas </span></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->