<div class="fadeIn animated">
    <div>
        <input type="checkbox" id="basic_checkbox_2" class="filled-in">
        <label for="basic_checkbox_2">Copiar información del conductor</label>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card card-body border">
          <span class="box-title m-b-0 h5">Datos Propietario</span>
          <p class="text-muted m-b-30 font-13"> A continuación ingrese información del propietario </p>
          <div class="row">
              <div class="col-sm-12 col-xs-12">
                  <form>
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Documento de Identidad</label>
                            <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Documento de identidad">
                        </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Lugar</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Lugar">
                        </div>
                        </div>
                      </div>
                      <div class="form-group">
                          <label for="exampleInputPassword1">Nombres</label>
                          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nombres">
                      </div>
                      <div class="form-group">
                          <label for="exampleInputPassword1">Apellidos</label>
                          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Apeliidos">
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Fecha de Nacimiento</label>
                            <input type="date" class="form-control" id="exampleInputEmail1" >
                        </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Tipo de Sangre</label>
                            <select name="" id="" class="form-control">
                              <option value="a+">A+</option>
                              <option value="o+">O+</option>
                              <option value="b+">B+</option>
                              <option value="ab+">AB+</option>
                              <option value="a-">A-</option>
                              <option value="o-">O-</option>
                              <option value="b-">B-</option>
                              <option value="ab-">AB-</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Nacionalidad</label>
                      <select class="form-control" name="" id="">
                        <option value="">Argentina</option>
                        <option value="">Brasil</option>
                        <option value=""></option>
                      </select>
                    </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Dirección</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Dirección">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Lugar de trabajo</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Lugar de trabajo">
                  </div>
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Fecha de Inscripción</label>
                            <input type="date" class="form-control" id="exampleInputEmail1" >
                        </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label for="exampleInputEmail1">Categoria</label>
                            <select name="" id="" class="form-control">
                              <option value="a">A</option>
                              <option value="b">B</option>
                              <option value="c">C</option>
                              <option value="m">M</option>
                              <option value="p">P</option>
                              <option value="t">T</option>
                            </select>
                          </div>
                        </div>
                      </div>
                   <!--<div class="d-flex justify-content-end">
                      <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
                      <button type="submit" class="btn btn-inverse waves-effect waves-light">Limpiar</button>
                   </div>-->
                  </form>
              </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card card-body border">
          <div class="box-title m-b-0 h5">Imagen</div>
          <p class="text-muted m-b-0 font-13"> Erik Maquera </p>
          <hr>
          <div class="row d-flex justify-content-center">
            <img src="https://thumbs.dreamstime.com/b/icono-plano-del-usuario-an%C3%B3nimo-105446565.jpg" class="w-300">
            <input type="file" class="my-2" (change)="onFileChange($event)">
            <button mat-raised-button color="primary" (click)="updateImage()" [disabled]="!imageLoad"  class="btn px-5 form-control scale"><i class="fa fa-save"></i> Actualizar Imagen</button>
          </div> 
        </div>
      </div>
    </div>
  </div>