<mat-card class="fadeIn animated px-4 py-3">
  <div class="py-2">
    <div>
      <mat-card-title class="text-center my-2">
        REGISTRO DEL SINDICATO
      </mat-card-title>
      <mat-card-title class="text-center my-2">
        {{asociacion.nombre}}
      </mat-card-title>
      <mat-card-subtitle class="text-center my-2" *ngIf="asociacion.direccion">
       {{asociacion.ciudad}} - {{asociacion.direccion}}
      </mat-card-subtitle>
    </div>
  </div>
  <mat-tab-group  animationDuration="200ms">
    <mat-tab label="DATOS GENERALES">
      <app-form-asociacion [id]="id" (create)="asignaId($event)" class="pt-5">
      </app-form-asociacion>
    </mat-tab>
    <mat-tab label="CONDUCTORES" [disabled]="id == 0">
      <app-table-drivers [id]="id">
      </app-table-drivers>
    </mat-tab>
  </mat-tab-group>
</mat-card>