<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h3>{{ title }}</h3>
            <h3 class="text-primary fw-bold">{{valor}}</h3> 
        </div>
      <div style="display: block">
        <canvas baseChart
          [data]="barChartData2"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>
  </div>